extends layout

block content
  .viewing.col
    h1= name
    h2 Ingredients
    ul
      each ingredient in ingredients
        li #{ingredient}
      else
        li No ingredients.
    h2 Instructions
    ol
      each instruction in instructions
        li #{instruction}
      else
        li No instructions.
  .adding.col
    input(type="text" id="name-text")
    h4 Ingredients
    textarea(id=ingredients-text)
    button(id="add-ingredient" type="button" class="btn") Add ingredient
    h4 instructions
    textarea(id="instructions-text")
    button(id="add-instruction" type="button" class='btn') Add instruction
    button(id="submit" type="submit" class='btn') Submit

