extends layout

block content
  .viewing.col
    h1#recipeTitle(style={"text-transform":"capitalize"})= name
    h2 Ingredients
    ul#ingredientsList
      each ingredient in ingredients
        li #{ingredient}
      else
        li No ingredients.
    h2 Instructions
    ol#instructionsList
      each instruction in instructions
        li #{instruction}
      else
        li No instructions.
  .adding.col
    input(type="text" id="name-text" placeholder="Input recipe name")
    h4 Ingredients
    textarea(id="ingredients-text")
    button(id="add-ingredient" type="button" class="btn") Add ingredient
    h4 instructions
    textarea(id="instructions-text")
    button(id="add-instruction" type="button" class='btn') Add instruction
    h4 picture:
    input(type='file' id="image-input" accept="image/*" multiple)
    br
    button(id="submit" type="submit" class='btn' style={'margin-top': '20px'}) Submit

